<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restkeeper.store.mapper.SetMealMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.restkeeper.store.entity.SetMeal">
        <id column="setmeal_id" property="id" />
        <result column="category_id" property="categoryId" />
		<result column="setmeal_name" property="name" />
        <association property="category" column="category_id"
                     select="com.restkeeper.store.mapper.DishCategoryMapper.selectById">
        </association>
        <collection column="setmeal_id" property="dishList"
                    select="com.restkeeper.store.mapper.SetMealDishMapper.selectDishes">
        </collection>
    </resultMap>

</mapper>
