<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restkeeper.store.mapper.TableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.restkeeper.store.entity.Table">
        <result column="area_id" property="areaId" />
        <association column="area_id" property="area" select="com.restkeeper.store.mapper.TableAreaMapper.selectById"/>
    </resultMap>

</mapper>
