<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restkeeper.shop.mapper.BrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.restkeeper.shop.entity.Brand">
        <id column="brand_id" property="brandId" />
        <result column="brand_name" property="brandName" />
        <result column="logo" property="logo" />
        <result column="category" property="category" />
        <result column="shop_id" property="shopId" />
        <result column="contact" property="contact" />
        <result column="contact_phone" property="contactPhone" />
        <result column="is_deleted" property="isDeleted" />
        <result column="last_update_time" property="lastUpdateTime" />
        <association column="brand_id" property="storeCount" select="com.restkeeper.shop.mapper.StoreMapper.getStoreCount">
        </association>
        <association column="brand_id" property="cityCount" select="com.restkeeper.shop.mapper.StoreMapper.getCityCount">
        </association>
    </resultMap>



</mapper>
