<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restkeeper.shop.mapper.StoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.restkeeper.shop.entity.Store">
        <id column="store_id" property="storeId" />
        <result column="shop_id" property="shopId" />
        <result column="store_name" property="storeName" />
        <result column="category" property="category" />
        <result column="brand_id" property="brandId" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="area" property="area" />
        <result column="address" property="address" />
        <result column="password" property="password" />
        <result column="store_manager_id" property="storeManagerId" />
        <result column="last_update_time" property="lastUpdateTime" />
        <association property="brand" column="brand_id" select="com.restkeeper.shop.mapper.BrandMapper.selectById"></association>
    </resultMap>

</mapper>
